@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:wght@300&family=Montserrat:wght@400;500&family=Outfit:wght@500&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,300;1,400&display=swap');
*{
   
    margin : 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size:250%;
    font-weight: 400px;
    background-color: aquamarine;
    height: 100px;
    
}
h2 a{
    text-decoration: none;
    color: midnightblue;
}
h2{
    margin-top: 50px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
div{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}